<head>

	<title>平台资质</title>
</head>

<link rel="stylesheet" href="mobile/resource/css/about.css" type="text/css">
<div ng-cloak>
	<div class="bannerDiv">
		<!--<img src="mobile/resource/images/about/bannerDiv3.jpg" />
	<img src="mobile/resource/images/about/bannerDiv4.jpg" />
	<img src="mobile/resource/images/about/bannerDiv12.jpg" />
	<img src="mobile/resource/images/about/bannerDiv11.jpg" />
	<img src="mobile/resource/images/about/bannerDiv5.jpg" />
	<img src="mobile/resource/images/about/bannerDiv13.jpg" />-->
		<img src="mobile/resource/images/about/bannerDiv6.jpg" />
		<img src="mobile/resource/images/about/bannerDiv7.jpg" />
		<img src="mobile/resource/images/about/bannerDiv8.jpg" />
		<img src="mobile/resource/images/about/bannerDiv9.jpg" />
		<!--<img src="mobile/resource/images/about/bannerDiv10.jpg" />-->
	</div>

</div>
