<head>
	<title>常见问题</title>
</head>

<div ng-cloak>
		<div class="faqList">
			<ul>
				<li ng-repeat="x in itemList">
					<div class="question" ng-click="leftProblemFun(x)"><label>{{x.title}}</label><span  class="showIcon"></span></div>
					<div class="answer" ng-show="rightAnswer=={{x.number}}">
						<div class="introAnswer1" ng-bind-html="x.content | DHtml" ></div>
					</div>
				</li>
			</ul>	
	</div>

	<div>
		<div ng-include="'mobile/templates/layout/bottom.html'"></div>
	</div>
</div>