<head>

		<title>安全保障</title>

		<meta name="description" content="欣冠是专业的互联网金融服务平台，互联网金融协会理事单位，提供优质借款服务和投资理财服务。提供优质债权,投资期限灵活,100元起投,收益稳健">

		<meta name="keywords" content="欣冠,信贷网,稳定投资,稳健理财产品,投资理财,投资项目,P2P理财,互联网金融,短期理财">
</head>

<link rel="stylesheet" href="mobile/resource/css/safeEnsure.css" type="text/css">
<!--<div class="safeEnsure">-->
	<!--<div class="divwrap">-->
		<!--<ul>-->
			<!--<li>-->
				<!--<div class="divImg1 safeLeft wow bounceInLeft">-->
					<!--<img src="mobile/resource/images/safeEnsure/divImg1.png">-->
				<!--</div>-->
				<!--<div class="divImg2 safeRight wow bounceInRight">-->
					<!--<img src="mobile/resource/images/safeEnsure/divImg2.png">-->
				<!--</div>-->
			<!--</li>-->
			<!--<li class="safeColor">-->
				<!--<div class="divImg5 safeLeft wow bounceInLeft">-->
					<!--<img src="mobile/resource/images/safeEnsure/divImg3.png">-->
				<!--</div>-->
				<!--<div class="divImg6 safeRight wow bounceInRight">-->
					<!--<img src="mobile/resource/images/safeEnsure/divImg4.png">-->
				<!--</div>-->
			<!--</li>-->
			<!--<li>-->
				<!--<div class="divImg1 safeLeft wow bounceInLeft">-->
					<!--<img src="mobile/resource/images/safeEnsure/divImg5.png">-->
				<!--</div>-->
				<!--<div class="divImg2 safeRight wow bounceInRight">-->
					<!--<img src="mobile/resource/images/safeEnsure/divImg6.png">-->
				<!--</div>-->
			<!--</li>-->
			<!--<li class="safeColor">-->
				<!--<div class="divImg7 safeLeft wow bounceInLeft">-->
					<!--<img src="mobile/resource/images/safeEnsure/divImg7.png">-->
				<!--</div>-->
				<!--<div class="divImg8 safeRight wow bounceInRight">-->
					<!--<img src="mobile/resource/images/safeEnsure/divImg8.png">-->
				<!--</div>-->
			<!--</li>-->
			<!--<li>-->
				<!--<div class="divImg3 safeLeft wow bounceInLeft">-->
					<!--<img src="mobile/resource/images/safeEnsure/divImg9.png">-->
				<!--</div>-->
				<!--<div class="divImg4 safeRight wow bounceInRight">-->
					<!--<img src="mobile/resource/images/safeEnsure/divImg10.png">-->
				<!--</div>-->
			<!--</li>-->
			<!--<li class="safeColor">-->
				<!--<div class="divImg2 safeLeft wow bounceInLeft">-->
					<!--<img src="mobile/resource/images/safeEnsure/divImg11.png">-->
				<!--</div>-->
				<!--<div class="divImg1 safeRight wow bounceInRight">-->
					<!--<img src="mobile/resource/images/safeEnsure/divImg12.png">-->
				<!--</div>-->
			<!--</li>-->
			<!--<li>-->
				<!--<div class="divImg3 safeLeft wow bounceInLeft">-->
					<!--<img src="mobile/resource/images/safeEnsure/divImg13.png">-->
				<!--</div>-->
				<!--<div class="divImg4 safeRight wow bounceInRight">-->
					<!--<img src="mobile/resource/images/safeEnsure/divImg14.png">-->
				<!--</div>-->
			<!--</li>-->
		<!--</ul>-->
	<!--</div>-->
	<!--<div class="divBtn">-->
		<!--<a href="/investment">开始理财</a>-->
	<!--</div>-->
<!--</div>-->
<!-- 2018-5-10 16:03:05-->
<div class="z_safeEnsure">
	<img src="mobile/resource/images/safeEnsure/safehead.png" alt="" class="z_safeEnsureTop">
	<!--网站安全-->
	<div class="z_safeEnsureTitle">
		<p>网站安全保障</p>
		<img src="mobile/resource/images/safeEnsure/redline.png" alt="">
	</div>
	<div class="z_safeEnsureContent">
		<div class="z_safeECimg">
			<img src="mobile/resource/images/safeEnsure/websafe.png" alt="">
		</div>
		<div class="z_safeECword">
                <div class="z_safeECwordContent">
			平台严格践行合规运营的理念，且
			取得ICP经营许可证，保证公司经
			营管理合法合规，资产安全、资料
			报告及相关信息真实完整。
		</div>
			<div class="z_safeECwordContent">
				平台采用小额分散的原则降低风险
				，披露信息真实透明，权属清晰透
				明化。以优质的小而分散的资产降
				低投资人风险。保障投资者权益。
			</div>
		</div>
	</div>
	<!--资金安全-->
	<div class="z_safeEnsureTitle">
		<p>资金安全保障</p>
		<img src="mobile/resource/images/safeEnsure/redline.png" alt="">
	</div>
	<div class="z_safeEnsureContent">

		<div class="z_safeECword">
			<div class="z_safeECwordContent">
				资金由第三方富友支付托管，平台
				绝不触碰资金，保证资金投向透明
				、安全。实现平台资金与投资人资
				金的有效隔离。
			</div>
			<div class="z_safeECwordContent">
				且用户在充值和提现前必须进行实
				名认证、手机验证等多重安全认证
				、资金提现只能转出到本人实名绑
				定的银行账户。保障投资人的资金
				安全。全面保障用户信息及资金安
				全。
			</div>
		</div>
		<div class="z_safeECimg">
			<img src="mobile/resource/images/safeEnsure/moneysafe.png" alt="">
		</div>
	</div>
	<!--技术安全-->
	<div class="z_safeEnsureTitle">
		<p>技术安全保障</p>
		<img src="mobile/resource/images/safeEnsure/redline.png" alt="">
	</div>
	<div class="z_safeEnsureContent">
		<div class="z_safeECimg">
			<img src="mobile/resource/images/safeEnsure/techsafe.png" alt="">
		</div>
		<div class="z_safeECword">
			<div class="z_safeECwordContent">
				平台由具有第三方支付和金融IT系
				统开发丰富经验的专业技术团队开
				发，确保交易数据安全。
			</div>
			<div class="z_safeECwordContent">
				阿里云提供云计算服务，以一流的
				技术保障客户信息安全和资金安全。
			</div>
		</div>
	</div>
	<!--风控安全-->
	<div class="z_safeEnsureTitle">
		<p>风控安全保障</p>
		<img src="mobile/resource/images/safeEnsure/redline.png" alt="">
	</div>
	<div class="z_safeEnsureContent">

		<div class="z_safeECword">
			<div class="z_safeECwordContent">
				平台接入网络金融征信系统，采用
				多维风控模型系统全面把控资产风
				险，专业的风控团队，且具有丰富
				的风控及信贷管理经验，审核流程
				严格，以专业的风控保障投资人资
				产安全。
			</div>

		</div>
		<div class="z_safeECimg">
			<img src="mobile/resource/images/safeEnsure/risksafe.png" alt="">
		</div>
	</div>
	<!--法律安全-->
	<div class="z_safeEnsureTitle">
		<p>法律安全保障</p>
		<img src="mobile/resource/images/safeEnsure/redline.png" alt="">
	</div>
	<div class="z_safeEnsureContent">
		<div class="z_safeECimg">
			<img src="mobile/resource/images/safeEnsure/lawsafe.png" alt="">
		</div>
		<div class="z_safeECword">
			<div class="z_safeECwordContent">
				平台聘请专业律师作为法律顾问，
				在业务经营的合规性评估、业务合
				同的起草与审查、金融产品风险控
				制等多方面提供专业的法律意见，
				所有项目在借贷关系合法性、收益
				合法性、居间服务合法性及电子合
				同合法性方面都严格遵守国家相关
				法律规定。满足用户在法律层面的
				风控要求。
			</div>
		</div>
	</div>
</div>
<script>
	if(!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
		new WOW().init();
	};
</script>