<title>找回密码</title>
<style>
    body {

    }

    .findPasswordBg {
        width: 100%;
        height: 100vh;
        background-image: url("/mobile/resource/images/login/loginBg.jpg") !important;
        background-size: cover !important;
        background-position: 0 0 !important;
        background-repeat: no-repeat !important;
        position: relative;
    }

    .z_registerHead {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        /*margin: 0.52rem auto 0.64rem;*/
        /*color: #fff;*/
    }

    .z_registerHead span, .z_registerHead a {
        color: #fff;
        font-size: 0.35rem;
    }

    .z_nicetomeetyou {
        color: #333;
        font-size: 0.7rem;
        font-weight: bold;
        overflow: hidden;
    padding-top: 2.46rem;
    }

    .z_nicetomeetyou span {
        float: left;
    }

    .z_nicetomeetyou i {
        float: left;
        color: #ff3e45;
    }

    .z_registerClose {
        width: 0.4rem;
    }

    .z_welcome {
        color: #666;
        font-size: 0.4rem;
    }

    .z_nicetomeetyou, .z_welcome {
        width: 90%;
        margin-left: 5%;
        margin-bottom: 0.64rem;
    }

    .inputGroup .span, .phoneCodeBg .span {
        border-bottom: 0.03125rem solid #fff;
        height: 1.375rem;

        margin: 0 auto;
        position: relative;
    }

    .inputGroup input, .phoneCodeBg input {
        background: transparent;
        padding: 0.25rem 0;
        height: 0.859375rem;
        border: 0px;
        width: 100%;
        font-size: 0.37rem;

    }

    /*	.inputGroup  input::-webkit-input-placeholder, .phoneCodeBg  input::-webkit-input-placeholder {
            color: #ffffff;
            font-weight: 100;
        }*/

    .forgetPassword a {
        font-size: 0.42rem;
        color: #fff;
    }

    .verifySms {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        border-left: 0.04rem solid #fff;
        padding: 0 0 0 0.2rem;
        color: #666666;

    }

    .findPasswordBg .passwordBtn {
        width: 100%;
        border-radius: 0;
        background: #ff3e45;
        color: #fff;
        font-size: 0.45rem;
        text-align: center;
        height: 1.33rem;
        line-height: 1.33rem;
        margin-top: 1.06rem;
    }

    .inputGroup {
        border-bottom: 0.01333rem solid #e6e6e6;
    }



    .findPassBox{
        width: 90%;
        margin: 0 auto;
    }
    .findPasswordBg .back{
        position: absolute;
        top: 0.26rem;
        left: 0.4rem;
    }
    .back img{
        width: 0.74rem;
        display: block;
    }
</style>

<div class="findPasswordBg">
    <!--<div class="inputGroupWrap">-->

        <div class="back">
            <a href="/mobile/login">
                <img src="mobile/resource/images/login/BACK.jpg" class="z_registerClose"/>
            </a>

        </div>
        <div class="z_nicetomeetyou">
            <span>你忘记密码了</span>
            <i>吗</i>
        </div>
        <div class="z_welcome">
            没事,来这里找回吧
        </div>
    <div class="findPassBox">
    <div class="inputGroup">
        <div class="span"><input type="text" class="passwordInput" ng-model="find.phone" placeholder="请输入手机号"
                                 autocomplete="new-password" name="phone"></div>
    </div>

    <div class="inputGroup">
        <div class="span"><input ng-model="find.code" type="text" autocomplete="new-password" name="code"
                                 placeholder="请输入验证码">
            <div class="verifySms">
                <span ng-click="sendSms()" ng-show="!DisableSendBtn">{{sendBtnText}}</span>
                <span ng-show="DisableSendBtn">{{sendBtnText}}</span>
            </div>
        </div>

    </div>


    <div class="inputGroup">
        <div class="span"><input type="password" class="passwordInput" name="password" ng-model="find.pwd1"
                                 autocomplete="new-password" placeholder="6-16位字母和数字登录密码"></div>
    </div>
    <div class="inputGroup" >
        <div class="span"><input type="password" class="passwordInput" ng-model="find.pwd2" autocomplete="new-password"
                                 placeholder="请再次输入登录密码"></div>
    </div>
    <!--</div>-->
    <div class="passwordBtn" ng-click="findPassword()">
        确定
    </div>
    </div>
</div>
<!--尾部-->
<!--<div ng-include="'mobile/templates/layout/bottom.html'"></div>-->
<!--尾部结束-->