<title>第三方担保</title>

<link rel="stylesheet" href="mobile/resource/css/static.css">

<div class="container">
	<div class="newContent">
		<!--<div ng-bind-html="guaranteeInfo.guaranteeInfo | DHtml" class="newWord" compile-html id="myDiv">

			</div>-->
			<div class="newWord" compile-html id="myDiv">

			</div>
			<!--<ul>
					
						<li ng-repeat="x in newsList">
							
							<div class="platformImg"><img ng-src="{{x.coverImage}}" ng-click="changePic($event)"></div>
							
						</li>
					</ul>-->
		<!--<div class="newWord">
			<p>
				<span style="font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;担保机构简介：</span>****<span style="font-family:宋体">交通建设有限公司是一家专门从事公路、市政、水利、房屋建筑的企业，公司成立于</span>2009<span style="font-family:宋体">年，</span><span style="font-family: 宋体;">公司具有公路养护工程施工二级（甲类）、公路养护工程施工二级（乙类）、公路工程施工总承包三级资质，</span><span style="font-family: 宋体;">现拥有工程、经济、财务等各类专业人员</span>130<span style="font-family: 宋体;">余人，公司主要施工于高速公路，一级公路，国省道公路和工程，</span><span style="font-family: 宋体;">在全国多个省市开展工程承包业务，在交通建设行业享有盛誉。公司先后被宁波市人民政府和浙江省公路管理局评为</span><span style="font-family: 宋体;">“宁波市交通发展先进集体”、“公路工作目标考核优秀单位”等众多殊荣。</span>&nbsp; &nbsp;
			</p>
			<p style="text-align: center;">
				<img src="https://lzt-public.oss-cn-hangzhou.aliyuncs.com/news/img/20171208/1512718947689.png" title="image001.jpg" alt="image001.jpg" width="314" height="364" style="text-align: center; width: 314px; height: 364px;" /><img src="https://lzt-public.oss-cn-hangzhou.aliyuncs.com/news/img/20171208/1512718952787.png" title="image002.jpg" alt="image002.jpg" width="282" height="365" style="text-align: center; width: 282px; height: 365px;" />
			</p>
			<p style="text-align: center;">
				<img src="https://lzt-public.oss-cn-hangzhou.aliyuncs.com/news/img/20171208/1512714234517.jpg" title="微信图片_20171208142016.jpg" alt="微信图片_20171208142016.jpg" width="301" height="337" style="text-align: center; width: 301px; height: 337px;" />
			</p>
		</div>-->
	</div>
</div>
<div class="imgGrayBg" ng-click="closePic()">
	<img id='img1'/>
</div>

