<!--头部-->
<title>产品详情</title>
<style type="text/css">
	.planIntroTab{
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	.planIntroTab img{
		width: 0.5rem;
		height: 0.5rem;
		margin-right: 0.2rem;
	}
	.centerInput::after{
		display: block;
		content: '';
		clear: both;
	}
	.animate-positive {
		animation: animate-positive 2s;
		transition: width 1s linear 0s;
		-webkit-transition: width .6s ease;
		transition: width 0.6s ease;
	}

	@-webkit-keyframes animate-positive {
		0% {
			width: 0%;
		}
	}

	@keyframes animate-positive {
		0% {
			width: 0%;
		}
	}
</style>
<!--nav end-->
<div ng-cloak>

	<div class="DspBox">
		<div class="blueBox">
			<h1 class="name">预期年化收益率</h1>
			<p class="Num">{{plan.rate/10 | currency:"":2}}%<label class="fontSize18"><font ng-show="plan.rasingRate>0">+{{plan.rasingRate/10}}%</font></label></p>

			<div class="Dsp">
				<div class="action">起投金额{{plan.minAmount | PointToYuan | currency:"":0}}元</div> <i class="whiteIcon"></i>
				<div class="date">投资期限：<span ng-show="plan.stagingUnit=='day'">{{plan.staging}}天</span>
				<span ng-show="plan.stagingUnit=='month'"  >{{plan.staging}}个月</span></div><i class="whiteIcon"></i>
				<div class="residue">剩余金额：{{(plan.amount-plan.nowSum)<0?0:(plan.amount-plan.nowSum) | PointToYuan | currency:"":0}}元</div>
			</div>
		</div>
		<div class="proFlow">
			<div class="flowitem clearfix">
				<img src="/mobile/resource/images/investment/proText.jpg" alt="">
				<p>项目到期按月当天到达账户</p>
			</div>
			<div class="itemDate clearfix">
				<div class="DateLeft fl">
					<p class="Date">
						<img src="/mobile/resource/images/investment/IconDate.png" alt="">
						开始加入 {{plan.showTime }}
					</p>
					<div class="itemPress">
						<div class="PressBar WOW animate-positive " style="width:{{((plan['nowSum'] / plan['amount']) * 100)>100 ? 100:(plan['nowSum'] / plan['amount']*100) | parseInt}}%;"></div>
						<b>投资进度{{((plan['nowSum'] / plan['amount']) * 100)>100 ? 100:(plan['nowSum'] / plan['amount']*100) | parseInt}}%</b>
					</div>
				</div>
				<div class="Dateright fr">
					<p class="name">即投计息</p>
					<p class="Num">
						<span ng-show="plan.stagingUnit=='day'">{{plan.staging}}天</span>
						<span ng-show="plan.stagingUnit=='month'"  >{{plan.staging}}个月</span>
						期限
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="planIntroBg">
		<div class="planBox">
		<div class="proDsp fontSize16">
			<img src="mobile/resource/images/investment/proDsp.png" alt="">
		</div>
		<div class="planIntro fontSize14">
			<!--<div>剩余额度：<span>{{(plan.amount-plan.nowSum)<0?0:(plan.amount-plan.nowSum) | PointToYuan | currency:"":0}}元</span></div>-->
			<div ng-show="plan.type==1">新客规则：<span>{{plan.newInvestorRule}}</span></div>
			<div>计息方式：<span ng-show="plan.rateType==0">即投计息</span><span ng-show="plan.rateType==1">满标T+0计息</span><span ng-show="plan.rateType==2">满标T+1计息</span></div>
			<div>还款时间：<span>项目到期后按约当天到达账户</span></div>
			<div>还款方式：<span ng-show="plan.rateType==0">一次性还本息</span><span ng-show="plan.rateType==1">按月付息到还本</span></div>
		</div>
		</div>
	</div>
<a class="planIntroTab fontSize16" href="/mobile/planDescription" >
		<img src="mobile/resource/images/join/proman@2x.jpg"/><span>产品说明</span>
</a>
	<div class="planIntroTab fontSize16" ng-click="switchTap(0)">
		<img src="mobile/resource/images/join/prodet@2x.jpg"/><span>项目详情</span>
	</div>
	<!--<div class="planIntroTab fontSize16" ng-show="plan.showEnsure!=0" ng-click="switchTap(2)">
		第三方担保
	</div>-->
	<div class="planIntroTab fontSize16" ng-click="switchTap(3)">
		<img src="mobile/resource/images/join/relinf@2x.jpg"/><span>相关资料</span>
	</div>
	<div class="planIntroTab fontSize16" ng-click="switchTap(4)">
		<img src="mobile/resource/images/join/prodes@2x.jpg"/><span>投资记录</span>
	</div>
	<div class="joinBtnBg">

		<div class="joinBtnDiv">
			<div class="calculatorBtnImg" ng-click="calculatorBtnImg()">
				<span>计算器</span>
				<img src="mobile/resource/images/join/calculator@3x.png" />
			</div>
			<div class="joinBtn fontSize16" ng-show="rightShow==1&&plan.state==0">
				<a href="/mobile/login">登录后购买</a>
			</div>
			<div class="joinBtn fontSize16" ng-show="rightShow==2&&plan.state==0">
				<a href="/mobile/investment/{{plan.planId}}">立即购买</a>
			</div>
			<div class="joinBtn joinBtnGray fontSize16" ng-show="plan.state==1">
				还款中
			</div>
			<div class="joinBtn joinBtnGray fontSize16" ng-show="plan.state==2">
				已还完
			</div>
		</div>

	</div>
	<!--计算器弹出界面-->
	<div class="calculatorBg">
		<div class="calculator fontSize14">
			<div class="calculatorClose" ng-click="calculatorClose()"></div>
			<div class="topTitle">
				计算收益
			</div>
			<div class="centerInput">

				<div class="inputMoney">
					<input type="text" placeholder="请输入金额" ng-model="calculatorMoney">元
				</div>
			</div>
					<div class="centerInput">
						<div class="inputMoney">
					<input type="text" placeholder="投资时间" value="{{plan.staging}}" readonly="true">天
				</div>
				<!--<div class="inputDate ">
					<div ng-show="plan.stagingUnit=='day'">{{plan.staging}}天</div>
					<div ng-show="plan.stagingUnit=='month'">{{plan.staging}}月</div>
				</div>-->
			</div>
			<div class="calculatorResult">
				<span>{{resultMoney | PointToYuan | currency:"":2}}</span>投资预期收益（元）
			</div>
			<div class="calculatorBtn" ng-click="calculatorResult()">
				计算
			</div>

		</div>

	</div>

	<!--产品说明弹出框start-->

	<div class="planBoxBg" id="planBoxBg">
		<div class="planBoxCloseBg">
			<div class="planBoxClose" ng-click="planBoxClose()">
				返回
			</div>
		</div>

		<!--产品说明-->
		<div ng-show="activeTap==0" compile-html class="planDescription"  style='background-color: #fff' >
			
		</div>
		<!--<div class="planDescription" ng-show="activeTap==0&&planType!=2">
			<img src="mobile/resource/images/investment/planDescription1.jpg" />
		</div>
		<div class="planDescription" ng-show="activeTap==0&&planType==2">
			<img src="mobile/resource/images/investment/planDescription2.jpg" />
		</div>-->

		<!--项目详情-->
		<div ng-show="activeTap==1" >
			<table class="tab_table" cellpadding="0" cellspacing="0" align="center">
				<tr>
					<td class="tdColor">
						借款人信息
					</td>
					<td ng-bind-html="plan.userInfo | DHtml">

					</td>
				</tr>
				<!--<tr>
		  <td class="tdColor">
			产品说明
		  </td>
		 <td ng-bind-html="plan.description | DHtml">

		</td>
	  </tr>-->
				<tr>
					<td class="tdColor">
						借款详情
					</td>
					<td ng-bind-html="plan.used | DHtml">

					</td>
				</tr>
				<tr>
					<td class="tdColor">
						还款措施
					</td>
					<td ng-bind-html="plan.repayInfo | DHtml">

					</td>
				</tr>
				<tr>
					<td class="tdColor">
						风控措施
					</td>
					<td ng-bind-html="plan.risk | DHtml">

					</td>
				</tr>

			</table>

		</div>

		<!--第三方担保-->
		<div ng-show="activeTap==2">

			<div class="container">

				<div class="guaranteeInfo" compile-html id="guaranteeInfo">

				</div>

			</div>
			<!--<div class="container">
				<div class="newContent">
					<div class="newWord" compile-html id="myDiv">

					</div>
				</div>
			</div>-->
			<div class="imgGrayBg" ng-click="closePic()">
				<img id='img1' />
			</div>
		</div>

		<!--相关资料-->
		<div ng-show="activeTap==3">
			<div class="large_box">
				<ul id="details_banner">
					<li ng-repeat="bigImage in plan.images" on-finish-render-filters><img ng-src="{{bigImage.url}}" ng-click="shouBigImage(bigImage.url)"></li>
				</ul>
			</div>
		</div>

		<!--投资人数-->
		<div ng-show="activeTap==4">
			<div class="weui-loadmore weui-loadmore_line weui-loadmore_dot" when-scrolled="selectPage()" ng-hide="isLastStationPage||isLocating">
				<table class="tab_table2" cellpadding="0" cellspacing="0" align="center">
					<tr ng-repeat="investment in itemList">
						<td>
							<img src="mobile/resource/images/join/invamo@3x.png" style="width: 0.66rem;"/>
						</td>
						<td>
							<div>{{investment.name}}</div>
							<div style=" color: #707070;" class="fontSize12">{{investment.createdTime | newDate:"yyyy-MM-dd HH:mm:ss"}}</div>
						</td>
						<td style="color: #e20214; text-align: right;">
							¥{{investment.money | PointToYuan }} 

						</td>
					</tr>

				</table>
			</div>
			<span class="noMore fontSize14" ng-if="noMore">没有更多了</span>
		</div>
	</div>
	<!--产品说明弹出框end-->
</div>

<div id="bigImageBg">
	<div class="closeImg">×</div>
	<div class="bigLeft btn">
	</div>
	<ul id="bigBanner">
		<li ng-repeat="bigImage1 in plan.images"><img ng-src="{{bigImage1.url}}" class="img-responsive"></li>
	</ul>
	<div class="bigRight btn">
	</div>
</div>