<title>
    借款协议</title>
<style>
.loanAgreement {
    padding: 0.25rem;
}

.loanAgreement h3 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 0.75rem;
}

[data-dpr="2"] .loanAgreement h3 {
    font-size: 36px;
}

[data-dpr="3"] .loanAgreement h3 {
    font-size: 54px;
}

.loanAgreement p {
    text-indent: 2em;
    line-height: 150%;
    font-size: 14px;
}

[data-dpr="2"] .loanAgreement p {
    font-size: 28px;
}

[data-dpr="3"] .loanAgreement p {
    font-size: 42px;
}

.loanAgreement .blod {
    font-weight: bold;
    padding: 15px 0;
}

.loanAgreement span {
    display: inline-block;
    border-bottom: 1px solid #666;
    text-indent: 0em;
    padding: 0 0.125rem;
}
</style>
<div class="loanAgreement">
    <h3>借款协议</h3>
    <p>甲方（借款人）：<span>{{loanAgreement.loanUserName}}</span></p>
    <p style="margin-bottom: 0.5rem;">身份证号码/营业执照号：<span>{{loanAgreement.loanUserIdCard}}</span></p>
    <p>地址:</p>
    <p>乙方（出借人）: <span>{{loanAgreement.investUserRealname}}</span></p>
    <p>在欣冠理财平台用户名为：<span>{{loanAgreement.investUserName}}</span></p>
    <p style="margin-bottom: 0.5rem;">身份证号：<span>{{loanAgreement.investUserIdCard}}</span></p>
    <p>丙方：杭州欣冠投资管理咨询有限公司</p>
    <p style="margin-bottom: 0.5rem;">地址：浙江省杭州市拱墅区蓝钻天城4幢2单元1314室</p>
    <p class="blod">鉴于：</p>
    <p>1.甲方系符合中华人民共和国法律（即中国法律，不包括香港特别行政区、澳门特别行政区和台湾地区的法律法规）规定的具有完全民事权利能力和民事行为能力，能独立承担本协议项下权利义务的自然人。借款人需为“欣冠理财”的注册用户。</p>
    <p>2.乙方系符合中国法律规定的具有完全民事权利能力和民事行为能力，能独立行使和承担协议项下权利义务的自然人。乙方需为丙方旗下经营管理的“欣冠理财”网络借贷信息中介机构（网址为“www.xinguanlc.com”，以下简称“欣冠理财平台”或“平台”）的注册用户。</p>
    <p>3.甲方和乙方均已授权和委托丙方将甲方和乙方向丙方提供的信息提供给本协议各方。</p>
        <p>4.甲方充分认识并知晓本次出借人乙方为丙方平台注册用户。甲方同意丙方向已注册的乙方公布甲方相关信息，包括但不限于姓名/名称、身份证号码/营业执照、组织机构代码、法定代表人、邮箱、联系电话等。 </p>
        <p>经协议各方友好协商，就借款人借款、出借人投资、借款担保及相关服务事宜达成如下一致意见，以资共同遵守。</p>
        <p class="blod">第一条 借款金额、期限、利率、用途、放款方式</p>
        <p>借款人同意通过“欣冠理财”平台向出借人借款，出借人同意通过“欣冠理财”平台向借款人出借款项并委托“欣冠理财”平台办理款项发放事宜：</p>
        <p>1．借款金额为本金人民币： <span>{{loanAgreement.loanMoney}}</span> 元，乙方出借金额 <span> {{loanAgreement.investMoney}}</span> 元。</p>
        <p>2．借款期限为<span>{{loanAgreement.staging}}</span> 天。借款起息日为： <span>{{loanAgreement.beginTimeYear}}</span> 年 <span> {{loanAgreement.beginTimeMonth}}</span>月 <span>{{loanAgreement.beginTimeDay}}</span> 日,借款到期日为：<span>{{loanAgreement.endTimeYear}}</span> 年 <span>{{loanAgreement.endTimeMonth}}</span>月 <span>{{loanAgreement.endTimeDay}}</span> 日。</p>
        <p>3．年利率（即预期年收益率）<span>{{loanAgreement.rate}}</span> % ，月利率=年利率/12；日利率=年利率/360。</p>
        <p>4．借款用途为：<span>{{loanAgreement.purpose}}</span>。 </p>
        <p>借款人承诺:所借款项按规定用途使用，不用于投资房地产和股票、债券、期货等的炒作，不挪作他用，不进行违法活动，否则由此产生的后果均由借款人承担。</p>
        <p>5．还款方式：<span>一次性还本付息</span></p>
        <p>6．放款方式：本协议生效的同时，乙方即不可撤销的授权丙方委托相应的第三方支付机构或监管银行等合作机构，将本协议项下乙方出借款划转至甲方的银行收款账户或甲方指定的银行收款账户。划转完毕视为借款发放成功。</p>
        <p class="blod">第二条 借款合同生效和借款业务流程</p>
        <p>1．出借人向借款人提供本合同项下的借款的前提条件为（同时满足）：</p>
        <p>（1）借款人提供的材料符合出借人和丙方的要求；</p>
        <p>（2）借款人已经成为欣冠金服平台的实名注册会员；</p>
        <p>（3）借款人须在丙方的资金托管机构开设账户或借款人向平台指定其关联的银行方账户，以便出借人的出借资金转入和通过此账户向出借人还款。</p>
    <p>2．本合同成立：出借人在欣冠理财平台上对借款人发布的借款标的点击“立即投资”按钮并确认支付时，本合同即成立。</p>
    <p>3．出借款冻结及期限：自出借人点击“确认支付”按钮时起，即视为出借人已经向丙方发出不可撤销的授权指令，并授权丙方委托其指定的资金托管机构冻结出借人确认的向借款人出借款。冻结自在本合同生效时起至借款人的融资标满标或融资标到期流标时止，冻结期间不计算利息。</p>
    <p>（4．本合同生效：本合同自借款人发布融资标的所对应的融资金额已经满标或达到借款人最低招募资金时生效。</p>
    <p>5．投资资金划转：</p>
     <p>（1）本合同生效时，出借人同意并不可撤销地授权丙方或丙方委托其指定的资金托管机构将冻结资金从出借人账户划转至借款人在丙方资金托管机构开设的账户或借款人向平台指定的其关联的银行方账户。划转完毕即视为借款发放成功，借款发放成功日即为借款放款日。如发放到其在丙方的资金托管机构开设的账户，借款人可通过“申请提现”操作将已划转的资金汇转至其银行账户上。借款人是否提现资金不影响本合同的效力，且借款人提现需在工作日及工作时间内申请，如遇法定节假日等，则借款人提现申请将顺延至下个工作日及工作时间内执行。</p>
      <p>（2）借款人不可撤销地授权并委托丙方或丙方委托的资金托管机构，在借款人支付信息技术服务费及其他应付费用后，将借款金额支付至借款人的银行账户。</p>
    <p class="blod">第三条 借款资金来源的合法性</p>
    <p>出借人保证其所用于出借的资金来源合法，且出借人是该资金的合法支配权人。如第三方对出借款的所有权、占有权、处分权等，以及合法来源等问题主张权利，或提出异议，并因此造成借款人、丙方或担保人经济损失的，由出借人应承担相应的赔偿责任。</p>
    <p class="blod">第四条 借款本息的归还</p>
    <p>1．借款人应当按照本合同约定，按时、足额偿还出借人出借款本金和利息。</p>
    <p>2．借款人不可撤销地授权丙方委托其指定的资金托管机构等合作机构，将金额等同于出借人当期应收的本金和利息的资金划转至出借人账户下，划转完毕即视为本期还款有效完结。</p>
    <p>3．借款人承诺最晚于本合同约定的付息当日或还本当日的北京时间24时前，将当期应付的利息或本息充值（或划转、或存入）于借款人在丙方托管机构开户的账户内，同意并不可撤销地授权丙方或其托管机构，自前述借款人账户中将当期应付的利息或本息划转至出借人在丙方托管机构开户的账户中，借款利息或本息实际支付至出借人账户之日为利息或本息实际偿还日。</p>
    <p>4．借款期限届满的还款日不受法定节假日或公休日限制，借款人必须按合同约定的还款日工作时间内还款，否则视为借款人违约，按约承担违约责任。</p>
    <p class="blod">第五条 费用的收取</p>
    <p>1．丙方有权就为本合同借款所提供的服务向借款人和出借人收取相关服务和管理费用，具体的收取标准以欣冠理财平台实际公布的收费标准为准。</p>
    <p>2．上述费用的收取方式和时间点均由丙方确定,借款人或出借人点击相关按钮时，即视为完全接受“欣冠理财”平台公示的相关规则。 </p>
    <p class="blod">第六条 还款</p>
    <p>1．借款人未按本合同约定的付息日或还本息日24:00点之前，在丙方托管机构账户中存储的余额不足以支付应还款项的，则视为逾期。逾期的，除应支付本金、利息外，还应按借款本金及利息的总额计算逾期违约金，每逾期一日，按逾期总金额的年化24%计算逾期违约金，直至本金、利息及逾期违约金全部清偿完毕之日止。其中，逾期违约金的一半作为丙方的催收和贷后管理的补偿金，该费用丙方有权在发生逾期后优先提取；另一半逾期违约金作为出借人的补偿款，按所持债权比例分配给全体出借人。</p>
    <p>2.借款人的还款按照如下顺序清偿：</p>
    <p>（1）逾期违约金；</p>
    <p>（2）逾期利息；</p>
    <p>（3）根据《借款协议》产生的费用（包括但不限于实现债权的费用）；</p>
    <p>（4）正常的利息；</p>
    <p>（5）正常的本金。</p>
    <p>3.借款人任何一期逾期时，丙方有权选择实现质押物或者要求担保人及时代偿当期应当归还的全部费用。</p>
    <p class="blod">第七条 债务转让限制</p>
    <p>未经出借人、担保人及丙方的事先书面（包括但不限于电子邮件等方式）同意，借款人不得将本协议项下的任何权利义务转让给任何第三方。</p>
    <p class="blod">第八条 通知</p>
    <p>1.本协议项下的通知如以平台公示方式作出，一经在欣冠理财平台公示即视为已经送达。</p>
    <p>2.欣冠理财平台通过在协议各方在注册时提供的电子邮箱，或协议各方在欣冠理财平台的个人账户中的站内消息系统栏，或协议各方绑定的手机发送，一经发送即视为已经送达。</p>
    <p class="blod">第九条 违约责任</p>
    <p>1．除本合同另有约定外，如果借款人擅自改变本合同第一条规定的借款用途，或严重违反还款义务，或擅自转让本合同项下借款债务的，丙方有权宣告借款提前到期。借款人须自丙方宣告借款提前到期之日起三日内，向其在托管机构的账户一次性支付余下的所有本金、利息、逾期利息和违约金，丙方再根据其与出借人之间的约定向出借人划转该项资金。</p>
    <p>2．借款人保证其提供的信息和资料的真实性，不得提供虚假资料或隐瞒重要事实。借款人提供虚假资料或者故意隐瞒重要事实的，构成违约，应承担违约责任，出借人在此同意委托丙方代为向借款人主张违约责任。上述情形下，丙方有权要求提前解除本合同，要求借款人提前还款，借款合同自解除通知送达之日起解除。自丙方解除本合同之日起三日内，借款人向其在托管机构的账户一次性支付余下的所有本金、利息、逾期利息和违约金，丙方再根据其与出借人之间的约定向出借人划转该等资金。</p>
    <p>3．丙方保留将借款人违约失信的相关信息在媒体披露的权利。因借款人未还款而带来的调查及诉讼费用将由借款人承担。</p>
    <p>4．如发生上述任意违约情况，出借人、丙方均有权要求提前终止本合同并且借款人不能按照本条约定向出借人一次性支付余下的所有本金、利息和违约金，出借人、丙方均有权实现质押物或者要求担保人履行担保责任。 </p>
    <p class="blod">第十条 共同授权与确认</p>
    <p>为确保出借人权益，借款人或借款人可能委托第三方为本合同项下的借款本金、利息及相关费用提供连带责任保证担保、抵押担保、质押担保等担保措施。如有该等情形，甲、乙双方同意并授权丙方或丙方指定的单位或个人为代理人以自己的名义代为办理与借款及借款担保相关的相关事宜，包括但不限于：</p>
    <p>1.全权代表所有出借人以代理人自己的名义与借款人就本合同所涉的借款金额、借款期限、利率等相关事项另行签署《借款协议》；</p>
    <p>2.全权代表所有出借人以代理人自己的名义就《借款协议》项下的本金、利息、费用等与借款人或借款人委托的第三方签署《抵押合同》、《质押合同》、《担保合同》等与担保有关的相关协议，如前述协议涉及登记的，以代理人自己的名义与合同相对方在登记机构共同办理登记事宜；</p>
    <p>3.如借款人违反《借款协议》约定延迟还款，除出借人按照本协议约定向借款人主张权利外，代理人亦可以自己的名义全权代表所有出借人向借款人、担保人主张权利；</p>
    <p>4.为维护出借人权益，以代理人自己名义向借款人、担保人采取其他维权措施。</p>
    <p class="blod">第十一条 其他</p>
    <p>1．借款人委托代理人代为收取出借人支付的借款，代为向出借人交付还款等，代理人在欣冠金服平台的一切行为均由借款人、出借人自行负责，与丙方无关。</p>
    <p>2．本协议通过欣冠理财系统以电子文本形式生成，可以有一份或者多份且每一份具有同等法律效力，并保存在丙方为此设立的专用服务器上备查和保管。双方均认可该形式的协议效力。</p>
    <p>3．借款人发布的相应借款需求未在规定期限内被全部满足并已经适当冻结相应拟出借资金的，自当日24：00起，本协议自动终止；甲方将本协议下全部本金、利息、催收费、违约金及其他相关费用全部偿还完毕时，本协议亦自动终止。</p>
    <p>4.本协议项下各方同意并承诺，本协议项下各方提供的信息均应在提供给本协议各方的同时提供给丙方。本协议各方认可丙方提供的协议文本效力，各方授权丙方根据本协议任意一方的要求向其提供各方所有信息。 </p>
    <p>5.甲乙双方同意并确认，双方通过银行账户、欣冠理财等采取的行为所产生的法律效果和法律责任归属于甲方、乙方本人。甲乙双方授权和委托丙方根据本协议所采取的全部行动和措施的法律后果均归属于甲方、乙方本人，与丙方无关，丙方也不因此承担任何责任。</p>
    <p>6．本协议的任何修改、补充均须以欣冠理财平台的电子文本形式发出。</p>
    <p>7.甲乙双方确认并同意，委托丙方对本协议项下的任何金额进行计算，在无明显错误的情况下，甲乙双方认可丙方对本协议项下任何金额的任何证明或确定。</p>
    <p>8.本协议经乙方自行通过网络在欣冠理财平台上在线点击相关确认键，并经甲方签署线下对应协议文本后生效。乙方可通过欣冠理财平台下载本协议，甲乙双方同时委托丙方保管线下对应协议文本。</p>
    <p>9. 如本协议中的任何一条或多条违反适用的法律法规，则该条将被视为无效，但该无效条款并不影响本协议其他条款的效力。</p>
    <p>10.本协议项下的附件和补充协议构成本协议不可分割的一部分。 </p>
     <p>11.如果协议各方在本合同履行过程中发生任何争议，应友好协商解决；如协商不成，任一方均有权向合同签订地的人民法院提起诉讼。 </p>
     <!--<p>甲方:{{loanAgreement.loanUserName}}</p>
       <p>乙方:{{loanAgreement.investUserRealname}}</p>
         <p>丙方：杭州欣冠投资管理咨询有限公司</p>
           <p> 年   月   日</p>-->
</div>