<head>

    <title>欣冠注册协议</title>


</head>
<link rel="stylesheet" href="mobile/resource/css/static.css">

<div class="redPacketRuleBg">
    <div class="ruleContent">
       <div class="ruleWord">

           客户支付协议

           1、协议支付是欣冠理财平台（以下简称“平台”）与各银行共同为客户提供的一种电子支付方式，通过三方签署协议，将客户在各大银行开立的银行账户与客户在平台的用户账号进行绑定，并生成协议号，各行在收到平台发送的以协议号标识的交易指令后完成支付交易，从而实现客户在平台完成直接充值业务或查询业务。

           2、为不影响您的投资权益，需要您同意使用该支付协议，将您的银行账户与平台账号进行绑定，充值时可直接输入平台账号的支付密码，无须登录各行网银，即可进行支付，相关款项将直接从绑定的银行账户扣除；

           3、在投资充值过程中，通过协议支付更加方便快捷，不仅提高了充值额度，同样响应了国家金融政策，做到合规合法；

           4、平台任何支付方式均通过第三方支付平台，如果在交易过程中遇到任何问题，平台会第一时间配合处理，减少客户不必要的损失与投资风险；

           5、支付业务支持银行及限额；
           序号	银行	卡类型	PY36（手机快捷）&PY37（PC快捷）	协议支付
           1	工商银行	借记卡	1000/笔，5万/日，100万/月	5万/笔，5万/日，100万/月
           2	农业银行	借记卡	-	5000/笔，5000/日，100万/月
           3	中国银行	借记卡	1000/笔，1万/日，100万/月	1万/笔，1万/日，100万/月
           4	建设银行	借记卡	1000/笔，5万/日，100万/月	5万/笔，5万/日，100万/月
           5	邮政储蓄银行	借记卡	500/笔，5万/日，100万/月	5000/笔，5000/日，100万/月
           6	平安银行	借记卡	5万/笔，5万/日，100万/月	5万/笔，5万/日，100万/月
           7	光大银行	借记卡	800/笔，5万/日，100万/月	5万/笔，5万/日，100万/月
           8	广发银行	借记卡	10万/笔，20万/日，100万/月	10万/笔，20万/日，100万/月
           9	中信银行	借记卡	800/笔，5万/日，100万/月	5万/笔，5万/日，100万/月
           10	兴业银行	借记卡	800/笔，5万/日，100万/月	5万/笔，5万/日，100万/月
           11	华夏银行	借记卡	1000/笔，5000/日，100万/月	1万/笔，1万/日，100万/月
           12	招商银行	借记卡	800/笔，5000/日，100万/月	5000/笔，5000/日，100万/月
           13	浦发银行	借记卡	10万/笔，20万/日，100万/月	10万/笔，20万/日，100万/月
           14	交通银行	借记卡	800/笔，1万/日，100万/月	1万/笔，1万/日，100万/月
           15	上海银行	借记卡	5万/笔，5万/日，100万/月	5万/笔，5万/日，100万/月
           16	民生银行	借记卡	-	2万/笔，2万/日，100万/月
           17	北京银行	借记卡	-	5000/笔，5000/日，100万/月

           6、如果您同意本协议及相关法律法规等条款，您将在该协议的流程下完成在平台的所有充值交易。因第三方支付公司或您个人操作不当所导致的任何损失与风险，平台将不承担导致该损失与风险的法律责任。
       </div>
    </div>
</div>