<head>

    <title>提现规则</title>

    <meta name="description" content="欣冠是专业的互联网金融服务平台，互联网金融协会理事单位，提供优质借款服务和投资理财服务。提供优质债权,投资期限灵活,100元起投,收益稳健">

    <meta name="keywords" content="欣冠,信贷网,稳定投资,稳健理财产品,投资理财,投资项目,P2P理财,互联网金融,短期理财">
</head>
<link rel="stylesheet" href="mobile/resource/css/static.css">

<div class="redPacketRuleBg">
    <div class="ruleContent">
        <h3>提现规则说明</h3>
        <span class="date">2017-09-30  泰千利理财</span>

        <div class="ruleWord">
            <p>1.工作日16点前提现当日即可到账，16点之后申请的提现则在下个工作日处理完成；</p>
            <p>2.周末及法定节假日提现最晚于下一个工作日24点之前到账;</p>
            <p>3.平台每月可免费提现次数为3次’</p>
            <p>4.若当月提现次数超过3次,则之后每笔提现将收取2元每笔的手续费；</p>
            <p>5.不可提现金额转可提现金额将收取0.5%的手续费；</p>
        </div>
    </div>
</div>