<head>

		<title>续投奖励</title>

		<meta name="description" content="欣冠是专业的互联网金融服务平台，互联网金融协会理事单位，提供优质借款服务和投资理财服务。提供优质债权,投资期限灵活,100元起投,收益稳健">

		<meta name="keywords" content="欣冠,信贷网,稳定投资,稳健理财产品,投资理财,投资项目,P2P理财,互联网金融,短期理财">
</head>

<style>
	body {
		font-family: "Microsoft YaHei", "微软雅黑" !important;
	}
	
	.bidBanner {
		padding: 0px;
		width: 100%;
		margin: 0px;
		position: relative;
	}
	
	.bidBanner img {
		vertical-align: top;
		padding: 0px;
		margin: 0px;
		width: 100%;
		border: none;
		height: auto;
		display: block;
	}
</style>
<div class="bidBanner">
	<img src="mobile/resource/images/activity_new/bidBanner1.jpg" />
	<img src="mobile/resource/images/activity_new/bidBanner2.jpg" />
	<img src="mobile/resource/images/activity_new/bidBanner3.jpg" />
	<img src="mobile/resource/images/activity_new/bidBanner4.jpg" />
</div>