<head>

    <title>续投奖励</title>
</head>

<style>
    body {
        font-family: "Microsoft YaHei", "微软雅黑" !important;
        background: #FED238 !important;
    }

    .continueInvest {
        padding: 0px;
        width: 100%;
        margin: 0px;
        position: relative;
    }

    .continueInvest img {
        vertical-align: top;
        padding: 0px;
        margin: 0px;
        width: 100%;
        border: none;
        height: auto;
        display: block;
    }
</style>
<div class="continueInvest">
    <img src="mobile/resource/images/continueVote/continueVote1.jpg"/>
    <img
        src="mobile/resource/images/continueVote/continueVote2.jpg"/>
   
    <img
        src="mobile/resource/images/continueVote/continueVote3.jpg"/>
         <img
        src="mobile/resource/images/continueVote/continueVote4.jpg"/>
</div>