<head>
	<!--<meta charset="utf-8"/>-->
	<title>初夏双重礼</title>
	<style type="text/css">
		.doubleSummer{
			font-size: 0;
		}
		.doubleSummer img{
			display: block;
			vertical-align: bottom;
			border: none;
			margin: -1px 0;
		}
	</style>
</head>
<div class="doubleSummer">
	<img src="mobile/resource/images/acticity/doubleSummer_01.jpg"/>
	<img src="mobile/resource/images/acticity/doubleSummer_02.jpg"/>
	<img src="mobile/resource/images/acticity/doubleSummer_03.jpg"/>
	<img src="mobile/resource/images/acticity/doubleSummer_04.jpg?v=3"/>
</div>
<!-- 2018-5-10 10:51:01-->