<head>
    <title>欣冠福利又来临</title>
</head>
<style type="text/css">
    img{
        vertical-align: middle;
        margin: -1px 0;
    }
</style>

<div class="onlineMarking">
    <img class="lazy" data-original="mobile/resource/images/registerActive/ActiveThree1.jpg" alt="">
    <img class="lazy" data-original="mobile/resource/images/registerActive/ActiveThree2.jpg" alt="">
    <img class="lazy" data-original="mobile/resource/images/registerActive/ActiveThree3.jpg" alt="">
    <img class="lazy" data-original="mobile/resource/images/registerActive/ActiveThree4.jpg" alt="">
    <img class="lazy" data-original="mobile/resource/images/registerActive/ActiveThree5.jpg" alt="">
    <img class="lazy" data-original="mobile/resource/images/registerActive/ActiveThree6.jpg" alt="">


</div>


<script>

    $(function() {

        $("img.lazy").lazyload({
            effect: "fadeIn",
            threshold :180
        });

    });
</script>