<head>
    <title>欣冠福利又来临</title>
</head>
<style type="text/css">
	img{
		vertical-align: middle;
		margin: -1px 0;
	}
</style>

<div class="onlineMarking">
    <img class="lazy" data-original="mobile/resource/images/registerActive/JulySummer_01.jpg?v=2" alt="">
    <img class="lazy" data-original="mobile/resource/images/registerActive/JulySummer_02.jpg" alt="">
    <img class="lazy" data-original="mobile/resource/images/registerActive/JulySummer_03.jpg" alt="">
   <img class="lazy" data-original="mobile/resource/images/registerActive/JulySummer_04.jpg" alt="">
  
</div>



<!--<script src='mobile/resource/js/jquery.lazyload.js' ></script>-->
<script>

  $(function() {

      $("img.lazy").lazyload({
      	effect: "fadeIn",
      	threshold :180

      });

  });
</script>