* {
	font-family: '微软雅黑';
}

.userSafeCenter {
	width: 800px;
	margin: 0px auto;
	margin-top: 70px;
	overflow: hidden;
}

.safeGrade{
	font-size: 16px;
	margin-bottom: 65px;
	width: 100%;
}
.safeGrade span{
	float: left;
	margin-right: 25px;
}

.safeProgressBg {
    display: inline-block;
    height: 10px;
    width: 605px;
    text-align: left;
    vertical-align: middle;
    border-radius: 5px;
    background-color: #E2E2E2;
    float: left;
    margin-top: 6px;
    
}

.safeProgressNow {
    height: 10px;
    border-radius: 5px;
    background-color: #DF0909;
    position: relative;
}

.safeGrade .grade{
	float: right;
	color: #df0707;
	font-size: 14px;
}

.safeCenterDiv{
	width: 100%;
}

.safeCenterDiv ul{
	padding: 0px;
	margin: 0px;
}

.safeCenterDiv li{
	    width: 100%;
    border-bottom: 1px solid #ebebeb;
    line-height: 85px;
    overflow: hidden;
}

.safeCenterDiv li img {
    margin: -2px 5px 0 0px;
    vertical-align: middle;
}

.safeCenterDiv li span {
    font-size: 14px;
    width: 132px;
    display: inline-block;
}

.safeCenterDiv li strong {
    font-weight: normal;
    color: #999;
    font-size: 14px;
}

.safeCenterDiv  li a {
    display: block;
    float: right;
    color: #df0707;
    font-size:14px;
}

.modifyPassword{
	width: 334px;
	margin: 0px auto;
	/*display: none;*/
}
.inputGroup{
	margin-bottom: 15px;
	border: 1px solid #ededed;
	border-radius: 4px;
	position: relative;
}

.inputGroup span{
    display: inline-block;
    height: 45px;
    width: 45px;
    position: absolute;
    /*top: 1px;
    left: 1px;*/
   border-radius: 4px;
    border-right: 1px solid #ededed;
   }
   
.safeCenterDiv li .span1{
	 background: url(../images/user/password.png) no-repeat center center #e6e6e6;
	  height: 45px;
    width: 45px;
}

.passwordInput{
	display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    height: 45px;
    border: 0px;
    text-indent: 60px;
    /*border: 1px solid #ededed;
    margin-bottom: 15px;
    
    border-radius: 4px;
    -webkit-border-radius: 4px;*/
}
.verifyCodeBg{
	margin-bottom: 15px;
	overflow: hidden;
	position: relative;
}
.verifyCode{
	float: left;
    width: 210px;
    display: block;
    font-size: 14px;
    line-height: 1.428571429;
    height: 45px;
    color: #555;
    vertical-align: middle;
   
    background-image: none;
   
}

.verifyCode input{
	 background-color: #fff;
	 width: 100%;
	  border: 1px solid #ededed;
    text-indent: 20px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
	line-height: 1.428571429;
    height: 45px;
    vertical-align: middle;
   
}

.verifyImg{
	 float: right;
	 width: 106px;
	 height: 45px;
}

.safeCenterDiv li .verifyImg img{
	padding: 0px;
	margin: 0px;
	width: 106px;
	 height: 45px;
	 vertical-align: top;
	 border: 0px;
}

.phoneCodeBg
     {
     	position: relative;
     }
     
.phoneCode{
	
	border: 1px solid #ededed;
	width: 210px;
	border-radius: 4px;
	position: relative;
}

.phoneCode span{
    display: inline-block;
    height: 45px;
    width: 45px;
    position: absolute;
    /*top: 1px;
    left: 1px;*/
   border-radius: 4px;
    border-right: 1px solid #ededed;
   }
   
.safeCenterDiv li .span2{
	 background: url(../images/user/phone.png) no-repeat center center #e6e6e6;
	  height: 45px;
    width: 45px;
}

.safeCenterDiv li .span3{
	 background: url(../images/user/userIcon.png) no-repeat center center #e6e6e6;
	  height: 45px;
    width: 45px;
}


     .phoneCode input{
     	
     	display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    height: 45px;
    border: 0px;
    text-indent: 60px;
     	
     }
     .verifySms{
     	 position: absolute;
        top: 0px;
        right: 0px;
        width: 100px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        background: #DF0707;
        border-radius: 3px;
        font-size: 16px;
        color: #fff;
     }
     
   .safeCenterDiv  .verifySms a{
     	 
        width: 100px;
        height: 45px;
        line-height: 45px;
        text-align: center;
       display: inline-block;
        font-size: 16px;
        color: #fff;
        cursor: pointer;
     }
 
.passwordBtn{
	width: 228px;
	margin: 35px auto 45px auto;
	height: 45px;
	text-align:center;
	line-height: 45px;
	color: #fff;
	font-size: 16px;
	background: #ff0000;
	border-radius: 5px;
	

}

.safeCenterDiv li.active{
	border-top:3px solid #ff0000;
}
